<favorite [is-favorite]='post.isFavorite' (changed)='onFavoriteChange($event)'>
    <h2 class="heading">
        Rating
    </h2>
    <p class="review">This is Review</p>
    <ng-container class="hello">
        Hello world
    </ng-container>
</favorite>