<div class="container">
        <ng-content select=".heading"></ng-content>   
    <span class="glyphicon"
        [class.glyphicon-star]='isFavorite'
        [class.glyphicon-star-empty]='!isFavorite'
        (click)='onClick()'></span>
    <div>
        <ng-content select='.review'></ng-content>
    </div>
    <ng-content select='.hello'></ng-content>
</div>
